<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1>
      <p class="lead">Learn web development front to back</p>

      <section>
        <form action="/create-checkout-session" method="POST">
          <button type="submit" id="checkout-button" class="btn btn-primary">
            Pay with card
          </button>
        </form>
      </section>

    </div>
    <div class="col-md-6">
      <img src="/img/book.png" alt="book" class="img-fluid" />
    </div>
  </div>
</section>